In [ ]:
# Step 1: Import Required Libraries
import sqlite3
import pandas as pd

# Step 2: Create and Connect to an SQLite Database
# This will create a file 'example.db' in the current directory
conn = sqlite3.connect("example.db")

# Step 3: Create a Table
# Create a cursor object using the connection
cur = conn.cursor()

# Define a table schema
cur.execute(
    """
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    grade TEXT
)
"""
)

# Step 4: Insert Data
# Insert some sample data into the table
cur.execute("INSERT INTO students (name, age, grade) VALUES ('Alice', 14, '8th')")
cur.execute("INSERT INTO students (name, age, grade) VALUES ('Bob', 15, '9th')")
cur.execute("INSERT INTO students (name, age, grade) VALUES ('Charlie', 13, '7th')")

# Commit the changes
conn.commit()

# Step 5: Query the Database
# Fetch all records from the table
cur.execute("SELECT * FROM students")
rows = cur.fetchall()

# Display the data using pandas for better readability
df = pd.DataFrame(rows, columns=["ID", "Name", "Age", "Grade"])
print(df)

# Close the connection
conn.close()

   ID     Name  Age Grade
0   1    Alice   14   8th
1   2      Bob   15   9th
2   3  Charlie   13   7th

In [ ]:
conn = sqlite3.connect("example.db")
cur = conn.cursor()
cur.execute("SELECT * FROM students")
rows = cur.fetchall()
print(rows)
conn.close()

[(1, 'Alice', 14, '8th'), (2, 'Bob', 15, '9th'), (3, 'Charlie', 13, '7th')]