## eCommerceDB
- Prompt - Design a database schema for an e-commerce application with tables for users, products, orders, and order_items.

In [5]:
# Design a database schema for an e-commerce application with tables for users, products, orders, and order_items.
# Users table
users = """
CREATE TABLE users (
    user_id INT PRIMARY KEY,
    username VARCHAR(50) NOT NULL,
    email VARCHAR(100) NOT NULL,
    password VARCHAR(100) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
"""

# Products table
products = """
CREATE TABLE products (
    product_id INT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    description TEXT,
    price DECIMAL(10, 2) NOT NULL,
    stock INT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
"""

# Orders table
orders = """
CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    user_id INT,
    total DECIMAL(10, 2) NOT NULL,
    status VARCHAR(50) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES users(user_id)
);
"""

# Order_items table
order_items = """
CREATE TABLE order_items (
    order_item_id INT PRIMARY KEY,
    order_id INT,
    product_id INT,
    quantity INT NOT NULL,
    price DECIMAL(10, 2) NOT NULL,
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);
"""

In [6]:
import sqlite3

# Can you use the above schema to generate a SQLLIte database. Then create the tables for the schema above. Then write a Python script to insert some data into the tables.

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect("ecommerce.db")
cursor = conn.cursor()

# Create tables
cursor.execute(users)
cursor.execute(products)
cursor.execute(orders)
cursor.execute(order_items)

# Insert some data into the tables
cursor.execute(
    "INSERT INTO users (user_id, username, email, password) VALUES (1, 'alice', 'alice@example.com', 'password123')"
)
cursor.execute(
    "INSERT INTO products (product_id, name, description, price, stock) VALUES (1, 'Laptop', 'A high-end laptop', 999.99, 10)"
)
cursor.execute(
    "INSERT INTO orders (order_id, user_id, total, status) VALUES (1, 1, 999.99, 'Processing')"
)
cursor.execute(
    "INSERT INTO order_items (order_item_id, order_id, product_id, quantity, price) VALUES (1, 1, 1, 1, 999.99)"
)


# Add more data to the tables
# Insert more data into the users table
cursor.execute(
    "INSERT INTO users (user_id, username, email, password) VALUES (2, 'bob', 'bob@example.com', 'password456')"
)
cursor.execute(
    "INSERT INTO users (user_id, username, email, password) VALUES (3, 'charlie', 'charlie@example.com', 'password789')"
)

# Insert more data into the products table
cursor.execute(
    "INSERT INTO products (product_id, name, description, price, stock) VALUES (2, 'Smartphone', 'A latest model smartphone', 699.99, 20)"
)
cursor.execute(
    "INSERT INTO products (product_id, name, description, price, stock) VALUES (3, 'Headphones', 'Noise-cancelling headphones', 199.99, 15)"
)

# Insert more data into the orders table
cursor.execute(
    "INSERT INTO orders (order_id, user_id, total, status) VALUES (2, 2, 699.99, 'Shipped')"
)
cursor.execute(
    "INSERT INTO orders (order_id, user_id, total, status) VALUES (3, 3, 199.99, 'Delivered')"
)

# Insert more data into the order_items table
cursor.execute(
    "INSERT INTO order_items (order_item_id, order_id, product_id, quantity, price) VALUES (2, 2, 2, 1, 699.99)"
)
cursor.execute(
    "INSERT INTO order_items (order_item_id, order_id, product_id, quantity, price) VALUES (3, 3, 3, 1, 199.99)"
)

# Commit the changes
conn.commit()


# Commit the changes and close the connection
conn.commit()
conn.close()

In [7]:
# Now write a Python script to query the database and print out the data in the tables.
# Reconnect to the SQLite database
conn = sqlite3.connect("ecommerce.db")
cursor = conn.cursor()

# Query and print data from users table
cursor.execute("SELECT * FROM users")
users_data = cursor.fetchall()
print("Users:")
for row in users_data:
    print(row)

# Query and print data from products table
cursor.execute("SELECT * FROM products")
products_data = cursor.fetchall()
print("\nProducts:")
for row in products_data:
    print(row)

# Query and print data from orders table
cursor.execute("SELECT * FROM orders")
orders_data = cursor.fetchall()
print("\nOrders:")
for row in orders_data:
    print(row)

# Query and print data from order_items table
cursor.execute("SELECT * FROM order_items")
order_items_data = cursor.fetchall()
print("\nOrder Items:")
for row in order_items_data:
    print(row)

# Close the connection
conn.close()

Users:
(1, 'alice', 'alice@example.com', 'password123', '2025-01-23 09:24:51')
(2, 'bob', 'bob@example.com', 'password456', '2025-01-23 09:24:51')
(3, 'charlie', 'charlie@example.com', 'password789', '2025-01-23 09:24:51')

Products:
(1, 'Laptop', 'A high-end laptop', 999.99, 10, '2025-01-23 09:24:51')
(2, 'Smartphone', 'A latest model smartphone', 699.99, 20, '2025-01-23 09:24:51')
(3, 'Headphones', 'Noise-cancelling headphones', 199.99, 15, '2025-01-23 09:24:51')

Orders:
(1, 1, 999.99, 'Processing', '2025-01-23 09:24:51')
(2, 2, 699.99, 'Shipped', '2025-01-23 09:24:51')
(3, 3, 199.99, 'Delivered', '2025-01-23 09:24:51')

Order Items:
(1, 1, 1, 1, 999.99)
(2, 2, 2, 1, 699.99)
(3, 3, 3, 1, 199.99)